*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
    Color for shadows 
    styling input and shadow

*/
:root{
    --primary-color: #{$LMPrimary};
    --secondary-color: #{$LMSecondary};
    --tertiary-color: #{$LMTertiary};

    --headings-color: #{$LMHeading};
    --elements-color: #{$LMElements};
    --background-color: #{$LMBackground};
    --text-color: #{$LMText};
    --input-color: #{$LMInput}; 
}

.dark{
    --primary-color: #{$DMPrimary};
    --secondary-color: #{$DMSecondary};
    --tertiary-color: #{$DMTertiary};

    --headings-color: #{$DMHeading};
    --elements-color: #{$DMElements};
    --background-color: #{$DMBackground};
    --text-color: #{$DMText};
    --input-color: $DMElements;
}

body{
    font-family: $regularText;
    font-size: 88%;
    background-color: var(--background-color);
    color: var(--text-color);

    transition: background-color .3s linear;
}

h1{
    padding: .5em;
    font-family: $headingApp;
    text-align: right;
    letter-spacing: 2px;
}

h2{ 
    margin-top: 1em;
    padding: 1em;
}

h2, h3, h4, h5 {
    font-weight: 600;
    color: var(--headings-color);
}

.container {
    max-width: 1000px;
    min-width: 320px;
    margin: 0 auto;
}

@media screen and (max-width: 430px){

    body{
        font-size: 83%;
    }
}
