.wholeDay{
    position: fixed;
    top: 1em;
    left: 6%;
    width: 86%;
    height: 96%;
    box-shadow: 0px 0px 55px 36px rgba(0, 0, 0, .4);
    background-color: var(--elements-color);
    border-radius: 10px;

    h3{
        margin-top: .5em;
        margin-bottom: 1em;
        padding: 1em;
        text-align: center;
    }

    .close_icon{
        
        position: absolute;
        top: .5em;
        right: .5em;
        font-size: 2rem;
        font-weight: 900;
        cursor: pointer;

        path{
            d: path("M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z");
            fill: var(--primary-color);
        }
    }

    .hoursInfo{
        width: 100%; 
        height: 83%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;     

        div {
            height: 1.1em;
            width: 22%;
            font-size: .8rem;
            line-height: 13px;
            border-bottom: 1px solid rgba(0, 0, 0, .2);
        }

        .minutes {
            display: inline-flex;
            flex-flow: row wrap;
            justify-content: space-between;
            height: 2.5em;
            padding-top: 5px;
            line-height: 18px;
            overflow: hidden;

            .activitiesListed {
                display: block;
                width: calc(100% - 3em);
                padding: 5px;
                border-radius: 3px;
                text-transform: capitalize;
                color: white;
                cursor: pointer;

                b{
                    margin-right: 5px;
                }
            }
        }

        
    }
}