.wholeWeek{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.dayFromWeek{
    position: relative;
    width: 155px;
    padding: 1em;
    margin: .3em;
    background-color: var(--elements-color);
    line-height: 1.1rem;
    border-radius: 7px;
    box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, .1);
    cursor: pointer;

    h4{
        text-align: center;
        margin-bottom: 1em;
    }

    > div{
        display: inline-flex;
        flex-flow: row wrap;   
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);     

        > div{
            display: inline-flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            width: 80%;

            .ActivityOfDayWeek{
                width: 16px;
                height: 16px;
                padding: 0 2px;
                margin-top: .5px;
                margin-right: 5px;
                font-size: 0.8rem;
                text-transform: capitalize;
                border-radius: 100%;
                color: white;
            }
        }
    }
}