header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1em;
    background-image: linear-gradient( to right, var(--primary-color), var(--secondary-color), var(--tertiary-color));
    
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .1);

    .container{
        width: 100%;
        display: flex;
        justify-content: space-between;

        h1{
            color: var(--profile-color);
            text-shadow: 0 0 10px $DMLogoIcon;
            cursor: pointer;
        }
    }

    .profileInfo{
        max-width: 250px;
        width: 100%;
        min-width: 100px;
        position: relative;
        padding: 1em;
        font-size: .9rem;
        border-radius: 6px;
        color: var(--profile-color);
        
    
        p:first-child{
            text-transform: uppercase;
            font-weight: 600;
        }
    
        .userIcon{
            width: 37px;
            height: 37px;
            position: absolute;
            top: 20%;
            right: 1em;
            padding: 0.3em;
            border: 3px solid var(--profile-color);
            border-radius: 5px;

            path{
                fill: var(--profile-color);
            }
        }
    }
}

.calendar_color{
    margin-top: 2em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    input[type="date"]{
        padding: .2em;
        margin-top: .5em;
        border: 1px solid rgba(0, 0, 0, .2);
    }
}

.colorProjects{
    max-width: 500px;
    width: 100%;
    min-width: 250px;
    padding: 1.5em;
    border-radius: 5px;
    background-color: var(--elements-color);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .1);

    h3{
        margin-bottom: 1em;
    }

    div{
        display: flex;
        justify-content: space-around;

        label{
            width: 30%;
            margin-right: 2%;
            
            display: inline-flex;
            align-items: center;

            .colorPicker{
                display: inline-block;
                width: 25px;
                height: 25px;
                margin-right: .5em;
                border-radius: 5px;
            }
            
            input[type="color"]{
                display: none;
                visibility: hidden;
                width: 35px;
            }
        }
    }
}

.calendarPicker{
    padding: 1.5em;
    border-radius: 5px;
    background-color: var(--elements-color);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0 , .1);

    input[type="date"]{
        background-color: var(--elements-color);
        padding: .5em;
        border-radius: 5px;
        border: 1px solid var(--primary-color);
        color: var(--text-color);
    }
}

@media screen and (max-width: 500px){
    
    .profileInfo p{
        display: none;
    }

    .colorProjects div{
        flex-direction: column;
        margin-bottom: 1em;

        label{
            width: 100%;
        }
    }
}

@media screen and (max-width: 735px){

    .calendar_color{
        width: 75%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .colorProjects{
        margin-bottom: 1em;
    }
}