header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1em;
    background-image: linear-gradient( to right, var(--primary-color), var(--secondary-color), var(--tertiary-color));
    
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .1);

    .container{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #cronos_logo{
        margin-left: .5em;
        min-width: 150px;
        cursor: pointer;

        path{
            d: path("m154.38 108.02c0.48297-0.48293-1.2736-0.50627-1.761-1.0113-1.3679-1.4175-1.2922-3.8592 0.1602-5.1714 0.74239-0.67072 1.4209-0.92819 2.4574-0.93258 0.70959-4e-3 1.0008 0.0542 1.4738 0.28903l0.58951 0.29264 0.0336 1.0906c0.0395 1.2769-0.0206 1.3245-0.86087 0.68283-0.9018-0.6884-1.642-0.698-2.3685-0.0307-0.91456 0.84007-0.69029 2.2744 0.44824 2.8668 0.62981 0.32761 1.1688 0.20865 1.9979-0.44098 0.72571-0.56869 0.80839-0.49503 0.80839 0.7218 0 1.0032-0.0157 1.0687-0.29933 1.2546-0.33477 0.21936-1.4886 0.5185-1.9409 0.5031-0.16213-7e-3 -0.91616 0.0633-0.73876-0.11462zm2.1242-0.52063 0.50111-0.20208v-1.5023l-0.53742 0.3788c-0.45294 0.31922-0.64303 0.37879-1.2091 0.37879-1.2254 0-2.0266-0.81635-2.0266-2.0652 0-1.5291 1.4224-2.5108 2.8025-1.9342 0.24021 0.10041 0.5139 0.36578 0.70366 0.43326l0.26692 0.25071v-1.5381l-0.49825-0.22425c-0.33931-0.15278-0.76208-0.22365-1.3264-0.22234-0.69268 2e-3 -0.93106 0.0582-1.456 0.34774-1.737 0.95684-2.2992 3.1344-1.2188 4.7204 0.34842 0.51149 1.2399 1.1701 1.8305 1.3525 0.50443 0.15575 1.5609 0.0711 2.1678-0.17373zm9.1582 0.48989c-1.1541-0.29264-2.2555-1.3129-2.534-2.3473-0.19045-0.70683-0.0905-2.1696 0.18671-2.7406 0.3164-0.65123 1.1309-1.4355 1.7982-1.7312 0.85052-0.37714 2.2509-0.35493 3.0366 0.0481 0.82003 0.42072 1.6241 1.3128 1.8814 2.0874 0.26962 0.81181 0.20257 2.1064-0.14391 2.7792-0.77091 1.4969-2.5932 2.3182-4.2251 1.9044zm1.947-0.39143c2.406-0.77708 3.034-3.8782 1.1255-5.5581-2.1018-1.8501-5.4028-0.35517-5.4176 2.4534-9e-3 1.4287 0.84299 2.6083 2.2249 3.0861 0.75927 0.26236 1.2974 0.26723 2.0672 0.0186zm-1.82-1.1988c-0.83459-0.39658-1.2381-1.0215-1.2381-1.9174 0-1.4714 1.412-2.4593 2.7724-1.9396 1.2335 0.47102 1.7081 2.0418 0.95466 3.1597-0.52818 0.78385-1.6473 1.0974-2.489 0.69734zm1.5948-0.37469c1.6582-0.84592 0.86856-3.5111-0.96721-3.2648-1.6997 0.22794-2.0949 2.5277-0.56626 3.2957 0.5359 0.26922 0.96203 0.26063 1.5335-0.031zm12.843 1.9703c-1.6418-0.46426-2.6287-1.7788-2.6287-3.5016 0-1.4724 0.71012-2.6234 2.0112-3.2599 0.87811-0.42961 2.1632-0.45487 3.0404-0.0595 2.2312 1.0052 2.8786 3.8938 1.2728 5.6798-0.92645 1.0303-2.4376 1.4971-3.6957 1.1413zm2.3223-0.53258c0.70255-0.35843 1.1827-0.79878 1.5474-1.4192 0.28275-0.48098 0.32181-0.66955 0.32083-1.5498-5.9e-4 -0.732-0.0563-1.1051-0.20847-1.3839-0.84707-1.5576-2.5811-2.2672-4.1202-1.6862-0.76497 0.28879-1.5799 1.0122-1.8981 1.6847-0.46724 0.9875-0.36268 2.3068 0.25458 3.2129 0.34839 0.51144 1.2398 1.17 1.8305 1.3525 0.56713 0.17522 1.7274 0.0675 2.2734-0.21107zm-2.0094-0.96304c-0.40286-0.1277-0.96785-0.63846-1.2019-1.0863-0.0913-0.17512-0.16633-0.59492-0.16633-0.93289 0-2.0176 2.4947-2.8669 3.6672-1.2484 0.28587 0.39453 0.34168 0.58638 0.34168 1.1731 0 0.87116-0.25516 1.435-0.81815 1.8076-0.4815 0.31853-1.3107 0.44916-1.8225 0.28696zm1.3355-0.40997c1.1546-0.5971 1.3722-1.9847 0.45222-2.8841-1.2056-1.1788-3.2279 0.0846-2.7793 1.7361 0.28636 1.0544 1.4234 1.6153 2.3271 1.148zm4.7414 1.8831c-0.28252-0.0882-0.64763-0.28354-0.81142-0.43423-0.39863-0.3669-0.73248-1.1179-0.73564-1.6549-3e-3 -0.4073 0.0282-0.44566 0.43954-0.55288 0.24315-0.0641 0.63874-0.15049 0.87902-0.19351 0.40986-0.0737 0.44141-0.0569 0.5093 0.25811 0.12958 0.60218 0.28285 0.86692 0.50158 0.86692 0.29025 0 0.49771-0.22725 0.49771-0.54494 0-0.20827-0.17525-0.34752-0.85476-0.67918-1.0276-0.50132-1.1651-0.6063-1.488-1.1361-0.47545-0.77986-0.21051-2.0332 0.54311-2.5698 0.46883-0.33377 1.2887-0.52638 1.87-0.43924 0.62108 0.0933 1.3311 0.59516 1.6318 1.154 0.27541 0.51178-0.20263 0.20733-0.6573 1.0883l-0.60994 0.332-0.3147-0.38559c-0.24657-0.30222-0.37051-0.3679-0.57283-0.30365-0.37096 0.1177-0.23299 0.24927 0.72635 0.69244 1.2989 0.60022 1.8538 1.4656 1.6662 2.5988-0.15786 0.95367-0.74899 1.6432-1.6339 1.906-0.69975 0.20784-0.91337 0.20755-1.5862-3e-3zm1.7021-0.40127c1.1469-0.52099 1.5726-1.9802 0.86675-2.9716-0.17889-0.25118-0.59469-0.52946-1.25-0.83654-0.90737-0.42528-0.98201-0.48682-0.98201-0.81077 0-0.64666 0.99785-0.78435 1.3236-0.18249l0.1503 0.27789 0.51223-0.32158 0.51215-0.32169-0.39244-0.44694c-0.63799-0.7267-1.4527-0.9452-2.257-0.60522-0.84731 0.35804-1.3533 1.2385-1.1397 1.983 0.15548 0.54226 0.54135 0.89977 1.4527 1.346 1.0389 0.50858 1.1352 0.5945 1.1352 1.0133 0 0.50414-0.18506 0.7733-0.59332 0.86289-0.4973 0.10929-0.90713-0.18017-1.0067-0.71091-0.0581-0.31167-0.12692-0.40295-0.2708-0.36091-0.10593 0.0309-0.39106 0.0914-0.63369 0.13445-0.40435 0.0718-0.43516 0.10416-0.3688 0.38946 0.15313 0.65828 0.57175 1.2367 1.0938 1.5116 0.62421 0.32863 1.2 0.34416 1.8478 0.0499zm-30.017-3.0906v-3.55l1.3265 0.0472c1.0728 0.0379 1.4205 0.0965 1.8177 0.30476 0.73687 0.38621 1.0284 0.87223 1.0809 1.8031 0.0483 0.8569-0.21585 1.5823-0.70014 1.9215-0.24825 0.17388-0.24047 0.19083 0.64689 1.4085 0.49401 0.67786 0.89824 1.3185 0.89824 1.4235 0 0.1619-0.16127 0.19105-1.0581 0.19105h-1.0582l-0.59257-0.84388-0.59258-0.84382v1.6877h-1.7687zm1.5328 2.3033c0-0.77937 0.0258-0.88805 0.20187-0.85407 0.11108 0.0218 0.46917 0.42226 0.79598 0.89088l0.59391 0.85213 0.74392 2e-3c0.56381 2e-3 0.72262-0.0333 0.65593-0.14533-0.0483-0.0814-0.42295-0.60581-0.8323-1.1662-0.40941-0.56032-0.7438-1.091-0.74311-1.179 6.8e-4 -0.0881 0.18635-0.34007 0.41259-0.55984 0.69448-0.67486 0.80546-1.6019 0.29144-2.4337-0.36761-0.59484-0.93962-0.78112-2.2676-0.86046l-1.1496-0.0425v6.3891h1.2969zm0.0242-3.4991 0.0348-0.73692 0.38653 0.0179c0.51615 0.024 0.73366 0.22702 0.73366 0.6858 0 0.47479-1.3105 0.77025-0.81082 0.77025h-0.37947zm0.78242 0.0429c0.039-0.27826-0.13704-0.47967-0.42306-0.48322-0.0905-8.3e-4 -0.14737 0.16004-0.14737 0.41906 0 0.36905 0.0323 0.41626 0.26531 0.38326 0.17584-0.0254 0.27873-0.13265 0.30512-0.3191zm10.159 1.6878v-3.0152l0.30606-0.52209c0.17919-0.30579 0.39243-0.52209 0.5147-0.52209 0.11573 0 0.91256 0.7447 1.7869 1.6701l1.5781 1.6701 0.0587-1.6406 0.0587-1.6406 0.91391-0.0345 0.9137-0.0344v5.6916l-0.38128 0.63748c-0.21705 0.36283-0.46571 0.63739-0.57734 0.63739-0.10778 0-0.36873-0.19891-0.57977-0.44215-0.21122-0.24316-0.91968-0.99928-1.5746-1.6802l-1.1907-1.2381 0.0363 1.4672c0.0517 2.0844 0.0876 2.0112-0.98207 2.0112h-0.88201zm1.5328 0.89973c0-1.1942 0.0433-1.7885 0.13477-1.845 0.0821-0.0504 0.78315 0.59786 1.7789 1.6437 0.9042 0.94994 1.6796 1.7272 1.7231 1.7272 0.0433 0 0.22458-0.24103 0.40243-0.53544l0.32343-0.53545v-5.0604h-1.2969v1.7687c0 1.6625-0.014 1.7686-0.2254 1.7686-0.124 0-0.37032-0.17237-0.54739-0.38318-0.17722-0.2108-0.92216-1.0097-1.6555-1.7754l-1.3334-1.3921-0.30049 0.47596c-0.29968 0.47459-0.73228 0.51906-0.30056 3.1903v2.7143h1.297zm-28.692 6.7768c-1.6264-1.0352-3.7181-1.6876-5.7516-1.794-0.69896-0.0363-1.298-0.11031-1.3311-0.16392-0.0807-0.13026-1.057 0.26284-1.8217 0.73341-0.65552 0.40335-0.96541 0.37826-1.0323-0.084-0.0177-0.12315 0.22918-1.5768 0.54893-3.2305l0.58122-3.0066 0.72437-0.66844c1.3479-1.2439 3.3466-1.9866 5.3347-1.9825 1.6476 4e-3 3.7151 0.54407 3.8064 0.99544 0.0272 0.13231 0.26966 2.0445 0.53975 4.2494l0.49107 4.0089-0.43951 0.73687c-0.25663 0.43022-0.51975 0.73572-0.63215 0.73385-0.10594-2e-3 -0.56403-0.23942-1.0179-0.52836zm1.3854-0.39988c0.17837-0.31753 0.32551-0.70213 0.32701-0.85466 6e-3 -0.50972-0.8535-7.4661-0.95399-7.7287-0.0722-0.18837-0.31733-0.32679-0.90036-0.50807-2.3578-0.73319-4.7174-0.46116-6.709 0.77356-0.92075 0.57079-1.8205 1.4621-1.806 1.7889 7e-3 0.13622 0.05 0.0972 0.12653-0.11177 0.2487-0.68026 2.1347-1.8225 3.6882-2.2337 1.4864-0.39348 3.995-0.25167 5.13 0.29007 0.26522 0.1265 0.31869 0.25828 0.4415 1.0863 0.25935 1.7494 0.18326 2.1025-0.34882 1.6203-0.13493-0.12223-0.82215-0.32877-1.685-0.50648-0.80148-0.16502-1.446-0.28933-1.4323-0.27624 0.56 0.53449 1.4825 1.0954 1.906 1.1589 0.28427 0.0423 0.57093 0.14283 0.63721 0.2226 0.16537 0.19921 1.1275 4.0778 1.0346 4.1707-0.0411 0.0412-0.61845-0.0913-1.2832-0.29431-1.7259-0.52691-2.7829-0.65967-4.6352-0.58195l-1.5845 0.0665-0.0199-0.78599c-0.0129-0.50049-0.0362-0.62299-0.0666-0.33727-0.0301 0.28948-0.11714 0.47064-0.24542 0.5105-0.10936 0.0337-0.63594 0.27923-1.1702 0.54515-0.53429 0.26575-1.0086 0.44599-1.0541 0.40047-0.0455-0.0455 0.01-0.75812 0.11913-1.5834 0.11111-0.82525 0.19593-1.5536 0.18862-1.6184-9e-3 -0.0649-0.18485 0.75756-0.39449 1.8276-0.2095 1.07-0.34464 1.9888-0.30007 2.0415 0.0444 0.0527 0.3274-0.0603 0.62861-0.25129 0.30113-0.191 0.8727-0.46893 1.2702-0.6175 0.6693-0.25033 0.73313-0.25577 0.86676-0.0733 0.11637 0.15915 0.34952 0.1972 1.2068 0.1972 1.7482 0 3.7937 0.60218 5.5744 1.641 0.55062 0.32118 1.0277 0.58739 1.0601 0.5915 0.0325 5e-3 0.2048-0.25228 0.3832-0.56976zm-0.85479-1.4885c0-0.2757-0.89095-3.552-0.98237-3.6125-0.0653-0.0429-0.33535-0.11054-0.60117-0.15042-0.3433-0.0516-0.7218-0.26205-1.3069-0.72714-0.89064-0.70776-1.0694-0.99002-0.62722-0.99002 0.41446 0 3.1929 0.58074 3.4396 0.71892 0.1805 0.10119 0.20604 0.0856 0.15326-0.0924-0.0347-0.11753-0.0993-0.59845-0.14345-1.0686l-0.0802-0.85481-0.7806-0.24915c-1.113-0.35523-2.9448-0.43204-4.0543-0.17001-1.1112 0.26241-2.5982 0.99422-3.3047 1.6263l-0.56148 0.50249-0.29188 1.9455c-0.16066 1.07-0.32058 2.1168-0.35552 2.3264l-0.0642 0.3809 0.85967-0.41942c0.47287-0.23071 0.9394-0.46067 1.0367-0.51108 0.0972-0.0504 0.20339-0.26071 0.23579-0.46725 0.12202-0.77751 0.42349-0.31977 0.45759 0.69483l0.0144 0.41268 1.6851-0.0399c1.8171-0.0429 3.2726 0.13954 4.4462 0.55796 0.70981 0.25301 0.82544 0.27925 0.82544 0.18676zm-9.3546-3.8588c-0.0328-0.0814-0.0594-0.015-0.0594 0.14732 0 0.16212 0.0271 0.22849 0.0594 0.14751 0.0328-0.0814 0.0328-0.21379 0-0.29483zm0.11787-0.58958c-0.0323-0.0814-0.0593-0.0151-0.0593 0.14741 0 0.16212 0.0271 0.22844 0.0593 0.1474 0.033-0.0814 0.033-0.21378 0-0.29481zm-4.1378 0.98104-0.45234-0.46326 0.064-1.2169c0.0347-0.66926 0.11907-1.3761 0.18732-1.5706 0.0682-0.19456 0.24172-0.6926 0.38555-1.1068 0.52854-1.5216 2.4002-3.8292 3.6022-4.4413 0.24778-0.12617 0.48722-0.28546 0.532-0.35396 0.16931-0.25879 2.2054-1.1239 3.2963-1.4007 0.63246-0.16045 1.7238-0.32528 2.4635-0.37209 1.1776-0.07454 1.3449-0.06117 1.4757 0.11781 0.0939 0.12846 0.17565 0.15641 0.22476 0.07685 0.12523-0.20268 0.89979-0.1444 2.0885 0.15715 1.2689 0.32187 2.9954 1.0694 3.1001 1.3423 0.0384 0.10103 0.0972 0.4799 0.13015 0.84193l0.0596 0.65832-1.3323 1.7685c-1.5072 2.0009-1.4146 1.9515-2.6647 1.4206-2.046-0.86897-4.2798-0.82992-6.3292 0.11063-1.6405 0.75283-2.8714 1.9622-3.4507 3.39l-0.32233 0.79438-1.0615 0.35517c-0.58391 0.19543-1.17 0.35527-1.3025 0.35527-0.13264 0-0.4447-0.20848-0.69355-0.46337zm1.8637-0.22517c0.87397-0.29537 0.93915-0.34133 1.1116-0.78528 0.762-1.9626 2.5342-3.5018 4.781-4.1526 1.7635-0.51088 4.1669-0.33686 5.9029 0.42743 0.31879 0.14028 0.61732 0.21347 0.66363 0.16251 0.0458-0.0509 0.62105-0.8175 1.2774-1.7035 0.97944-1.322 1.1936-1.6851 1.1936-2.0243 0-0.22732-0.033-0.49986-0.0743-0.60562-0.1592-0.41478-2.2278-1.2488-3.7874-1.527-0.71325-0.12722-0.87646-0.126-0.98714 0.0073-0.17699 0.21315-0.53351 0.20331-0.61812-0.01705-0.1404-0.36603-2.567-0.14345-4.261 0.39082-1.1299 0.3564-2.2664 0.91927-2.4144 1.1958-0.075 0.14038-0.19932 0.23335-0.27598 0.2066-0.34909-0.12177-2.198 1.5815-3.0094 2.7725-0.52096 0.7645-1.0797 1.9742-1.0798 2.3377-5e-5 0.16533-0.0542 0.35522-0.12127 0.42178-0.0669 0.0668-0.17915 0.61228-0.2502 1.2125l-0.12898 1.0914 0.45099 0.46176c0.24793 0.25405 0.50645 0.45717 0.57438 0.45133 0.0679-7e-3 0.54123-0.15182 1.0519-0.32431z");
            fill: var(--logo-color);
            stroke-width: 0.53468;
            filter: drop-shadow( 0px 0px 0px rgba(255, 255, 255, 1));
        }
        
        
        /* path{
            -webkit-fill: red;
            fill: white;
            stroke: white;
            54123-0.15182 1.0519-0.32431z" stroke="#fff" strokeWidth=".53468"/>
            stroke-width: .53468;
        } */
    }

    .profileInfo{
        max-width: 250px;
        width: 100%;
        min-width: 100px;
        position: relative;
        padding: 1em;
        font-size: .9rem;
        border-radius: 6px;
        color: var(--profile-color);
        
    
        p:first-child{
            text-transform: uppercase;
            font-weight: 600;
        }
    
        .userIcon{
            width: 37px;
            height: 37px;
            position: absolute;
            top: 20%;
            right: 1em;
            padding: 0.3em;
            border: 3px solid var(--profile-color);
            border-radius: 5px;

            path{
                d: path("M20.822 18.096c-3.439-.794-6.64-1.49-5.09-4.418 4.72-8.912 1.251-13.678-3.732-13.678-5.082 0-8.464 4.949-3.732 13.678 1.597 2.945-1.725 3.641-5.09 4.418-3.073.71-3.188 2.236-3.178 4.904l.004 1h23.99l.004-.969c.012-2.688-.092-4.222-3.176-4.935z");
                fill: var(--profile-color);
            }
        }
    }
}

.calendar_color{
    margin-top: 2em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    input[type="date"]{
        padding: .2em;
        margin-top: .5em;
        border: 1px solid rgba(0, 0, 0, .2);
    }
}

.colorProjects{
    max-width: 500px;
    width: 100%;
    min-width: 250px;
    padding: 1.5em;
    border-radius: 5px;
    background-color: var(--elements-color);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .1);

    h3{
        margin-bottom: 1em;
    }

    div{
        display: flex;
        justify-content: space-around;

        label{
            width: 30%;
            margin-right: 2%;
            
            display: inline-flex;
            align-items: center;

            .colorPicker{
                display: inline-block;
                width: 25px;
                height: 25px;
                margin-right: .5em;
                border-radius: 5px;
            }
            
            input[type="color"]{
                display: none;
                visibility: hidden;
                width: 35px;
            }
        }
    }
}

.calendarPicker{
    padding: 1.5em;
    border-radius: 5px;
    background-color: var(--elements-color);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0 , .1);

    input[type="date"]{
        background-color: var(--elements-color);
        padding: .5em;
        border-radius: 5px;
        border: 1px solid var(--primary-color);
        color: var(--text-color);
    }
}

@media screen and (max-width: 500px){
    
    .profileInfo p{
        display: none;
    }

    .colorProjects div{
        flex-direction: column;
        margin-bottom: 1em;

        label{
            width: 100%;
        }
    }
}

@media screen and (max-width: 735px){

    .calendar_color{
        width: 75%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .colorProjects{
        margin-bottom: 1em;
    }
}