@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@100;200;400;600;800&family=Zen+Dots&display=swap');

/* Text */

$headingApp: 'Zen Dots', cursive;
$headings: 'Courgette', cursive;
$regularText: 'Poppins', sans-serif;

/* Colors */

$deep-red: #B20000;
$black: #000000;
$light-red: #FFA0A0;
$gray: #595959;
$white: #FFFFFF;